.test{
    
    font-weight: 400;
    font-family: 'Bad Script', cursive;
}
.text{
    font-family: 'Bad Script', cursive;
    font-weight: 900;
    text-decoration:overline;
    text-decoration:underline
}
